* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}


.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

.nav-item a {
    font-weight: 300;
    /* font-size: 24px; */
    color: #000;
    text-decoration: none;
    transition: color 0.5s;
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    position: relative;
}

.nav-item a:after {
    display: block;
    content: "";
    background-color: rgba(44, 50, 61, 1);
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.nav-item a:hover:after,
.nav-item a:focus:after {
    width: 75%;
}

.aside-container {
    /* width: 37%; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 133px;
    padding-top: 157px;
    background-color: rgba(44, 50, 61, 1);
    color: #fff;
}

.avatar {
    width: 266px;
    height: 266px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.main {
    width: 63%;
    background-color: #fff;
    color: #333;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.main-title {
    font-family: poppins-semibold;
    font-size: 72px;
    padding-left: 137px;
    padding-top: 200px;
    margin: 0;
}

.main-subtitle {
    font-weight: 300;
    padding-left: 137px;
}